html,
.body {
    font-family: Lato;
    font-size: 16px;
    color:#494949;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
}

h1 {
    font-size: 2.9rem;
    padding-bottom: 2.2rem;
}

h3 {
    font-size: 1.6rem;
    line-height: 1.9rem;    
    padding-bottom: 2.2rem;
}

a {
    text-decoration: none;
    color: rgb(70, 70, 70)
}

a:hover {
    color:rgba(128, 128, 128, 0.699);
    transition: color, 200ms ease-in;
    cursor: pointer;
}


a:active {
    color:hsla(20, 100%, 50%, 0.822);
}

/*HEADER*/

/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 5rem;
    max-width: auto;
}

/*TITLE & LOGO*/
.title {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    cursor: pointer;
}

.title img {
    height: 3.5rem;
}

.title span {
    font-size: 2rem;
}

.title span:last-child{
    color: grey;
}

/*NAVMENU*/
.navmenu {
    display: flex;
    margin-right: 0.5rem;
}

.navmenu ul li {
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 1rem;
}


/*MAIN CONTENT*/

/*BANNER&HEADLINE*/
.banner { 
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #d9d9d9;
}

/*importante impostare max-width 60% nel parent e non nel child (ovvero .banner-img img), se no il child non ha limiti*/

/*BANNER IMAGE*/
.banner-img {
    max-width: 56.35%;
}

.banner-img img{
    /*impostato max-width:100% per contenere l'immagine nel 60% (la grandezza massima del parent) di .banner-img*/
    max-width: 100%;
    margin: 2rem 0rem 2rem 1.5rem;
}

/*HEADLINE - "learn something new"*/
.headline {
    /*inserito margini anche nella headline per evitare che si sovrapponga all'immagine in fase di ridimensionamento della pagina*/
    margin: auto auto auto 3.5rem;
    max-width: 27%;
}

.headline span {
    display: block;
    color: white; 
    background-color: rgb(70, 70, 70);
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1.3rem;
}

.headline a{
    color: white;
}

.headline a:hover{
    color: grey;
}

/*articles section*/

/*macro container*/
.articles {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0 auto;
}

/*main article on the left*/
.mainarticle {
    position: relative;
    max-width: 56.35%;
}

.mainarticle img {
    max-width: 100%;
    padding: 2rem 0rem 2rem 1.5rem;
}

.mainarticle h1, h5, h6{
    margin: 0 0 0 1.4rem;
}

.mainarticle h5 {
    font-size: 1.3rem;
    line-height: 1.8rem; 
    text-align: left;
}

.mainarticle h5 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
}

.name {
    padding-top: 2rem;
    font-size: 1rem;
}

/*sidebar right with articles*/

.sidearticles {
    max-width: 40%;
    margin: 0rem auto auto 3rem;
    padding-bottom: 4rem;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
}

.sidearticles img {
    padding: 1.2rem;
    width: 35%;
    height: auto;
}

.article {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.article:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}

/*sidebar right - description and info*/
.content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    max-width: 45%;
}

.content h3 {
    font-size: 1.3rem;
    line-height: 2rem;
    padding-bottom: 0;
}

.content p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    padding-bottom: 0;
}

.content a {
    line-height: 3rem;
    color: #5598e5;
}

.content a:hover {
    color: #0278ff;
}

/*first article on the sidebar*/
#top {
    padding-top: 0.8rem;
}

/*last article on the sidebar*/
#bottom {
    border-bottom: 0;
}

/*START LEARNING SECTION*/

.section {
    position: relative;
    margin: 0 auto;
}

.startlearning {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 2.5rem;
}

.course {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;





